<header class="navbar" role="banner">
    {{> navigation}}
    <h1>
        <span class="header-select-type text">
            Select <a href="#" data-action="click/selectLocalPhotos">photos</a> or <a href="#" data-action="click/selectLocalPhotosDir">directory with them</a> to resize
        </span>
        <span class="header-procede text hidden">
            <span class="new-done hidden">{{i18n_done}}! </span><a href="#" data-action="click/localStep3" data-dispatch="1">Procede</a> or <a href="#" data-action="click/releselectPhotos">re-select</a> photos
        </span>
        <span class="header-no-active text hidden">{{i18n_headerNoPhotos}}</span>
        <span class="header-processing text hidden">{{i18n_processing}}...</span>
    </h1>
</header>

<div class="global-wrapper hidden">
    <div class="progress progress-striped active hidden">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

    <div class="text-center lead status no-photos-found hidden">{{i18n_noPhotosFound}}</div>
    <div class="text-center lead status no-photos-chosen hidden">{{i18n_noPhotosChosen}}</div>
    <div class="text-center lead status searching-photos hidden">{{i18n_searchingPhotos}}...</div>
    <div class="text-center lead status searching-dir-photos hidden">{{i18n_scanningDirStructure}}...</div>
</div>
