<nav role="navigation">
    <span title="{{i18n_home}}" role="button" class="glyphicon glyphicon-home" data-action="click/home" data-dispatch="1"></span>
    <span title="{{i18n_back}}" role="button" class="glyphicon glyphicon-arrow-left{{^back}} disabled{{/back}}" data-action="click/back" data-dispatch="1"></span>
    <span title="{{i18n_forward}}" role="button" class="glyphicon glyphicon-arrow-right{{^forward}} disabled{{/forward}}" data-action="click/forward" data-dispatch="1"></span>
</nav>
