<figure class="img-thumbnail img-wrapper {{type}}" data-id="{{id}}" data-action="click/selectPhoto">
    <div class="img-container">
        <div class="spinner"></div>
        <div class="img-okmarker">
            <span class="glyphicon glyphicon-ok"></span>
        </div>
    </div>
    <figcaption class="text-center">
        <small class="photos-dms">&nbsp;</small>
    </figcaption>
</figure>
