<header class="navbar" role="banner">
    {{> navigation}}
    <h1>
        <span class="upload-options">
            {{numPhotosSelected}} photos selected. <a href="#" data-action="click/startUpload">Upload 'em</a>
        </span>
        <span class="upload-done hidden">
            Done! <a href="#" data-action="click/home" data-dispatch="1">Again</a> or <a href="#" data-action="click/enough">Enough</a>
        </span>
    </h1>
</header>

<div class="global-wrapper">
    <!-- Появляется после старта -->
    <div class="progress progress-striped active hidden">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
    </div>

    <form class="form-inline form-resize-options" role="form">
        <h2>Upload options</h2>

        {{#profiles.length}}
            <div class="option-selector">
                <label>
                    <select class="form-control upload-profile">
                    {{#profiles}}
                        <option value="{{id}}">{{name}}</option>
                    {{/profiles}}
                    </select>
                </label>
                <button type="button" class="btn btn-default" data-action="click/addNewProfile">or add new profile...</button>
            </div>
        {{/profiles.length}}

        <div class="option-selector">
            <label>
                <input type="checkbox" name="fit"{{#fit}} checked{{/fit}}>
                Resize photos to fit <a href="https://support.google.com/picasa/answer/1224181" target="_blank">2048px</a>
            </label>
        </div>
    </form>

    <h3>Upload progress: <span class="upload-progress-prc">0</span>%</h3>

    <div class="img-stripe">
    {{#photos}}
        <div class="img-thumbnail img-container" style="background-image: url({{dataUri}})" data-id="{{id}}">
            <div class="img-okmarker">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </div>
    {{/photos}}
    </div>
</div>
